.navbar {
    width: 100vw;
    height: 12vh;
    font-size: 1.2rem;
    background-color: rgb(65, 65, 65, .5);
    &-brand {
        font-size: 1.5rem;
    }
    a:not(.navbar-brand) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12vh;
        min-width: 9vw;
        
        color: rgb(212, 212, 212);
        border-right: 2px solid rgba(56, 56, 56, 0.7);
        transition: .5s;
        &:last-child {
            border-right: none;
        }
        &:hover {
            background-color: #baa071;
            color: #000;
        }
    }
}

@media screen and (max-width: 575px) {
    .navbar-nav {
        border-radius: 1rem;
        a:not(.navbar-brand) {
            z-index: 1;
            backdrop-filter: blur(3px);
            &:first-child {
                border-radius: 1rem 1rem 0 0;
            }
            &:last-child {
                border-radius: 0 0 1rem 1rem;
            }
            background-color: rgba(56, 56, 56, 0.7);
        }
    }
    
}