* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container.board-view {
    display: flex;
    width: max-content;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(48, 48, 48);
    background-color: rgba(245, 211, 42, 0.4);
}

#turn-of-label {
    width: 100%;
    height: 4rem;
    //box-sizing: content-box;
    background-image: linear-gradient(45deg, rgba(229, 173, 84, 0.4), rgba(203, 154, 75, 0.4),);
    border-radius: .5rem;
    border: .3rem solid rgba(160, 132, 56, 0.4);
}

button.game-menu-btn {
    @mixin child-color($color-array) {
        border-color: nth($color-array, 3);
        background-image: radial-gradient(nth($color-array, 1) 0% 20%,nth($color-array, 2) 60% 100%);
    }

    $first-child-color: rgb(162, 206, 253),rgb(110, 156, 224), rgb(73, 103, 148);
    $second-child-color: rgb(198, 162, 253), rgb(134, 96, 192), rgb(77, 56, 110);
    $third-child-color: rgb(253, 224, 162), rgb(231, 187, 93), rgb(143, 116, 58);
    display: flex;
    max-height: 3em;
    width: 33.3%;
    margin-right: .5em;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: 5px solid black;
    svg {
        margin: 0;
        padding: 0;
        transform: scale(.35);
    }
    &:nth-child(1) {
        @include child-color($first-child-color);
    }
    &:nth-child(2) {
        @include child-color($second-child-color);
    }
    &:nth-child(3) {
        @include child-color($third-child-color);
    }
}


@media screen and (max-width: 480px){
    .container.board-view {
        width: 98vw;
        .container {
            margin-top: 5px;
        }
    }

}