.row {
    width: 70vw;
}

.btn {
    display: block;
    width: auto;
    box-sizing: border-box;
    padding: 0;
    aspect-ratio: 1 / 1;
    height: auto;
}

@media screen and (max-width: 480px){
    .row {
        width: 98vw;
    }
}