.row {
    width: 90vh;
    gap: 1vh;
}

.tictakcell.btn {
    display: block;
    width: auto;
    box-sizing: border-box;
    padding: 0;
    color: #000;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    height: auto;
    transition: .5s;
    
    * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #000;
    }
}

@media screen and (max-width: 480px){
    .row {
        max-width: 94vw;
    }
}