#root {
    display: flex;
    justify-content: center;
}
button.game-menu {
    width: 110%;
    max-width: 95vw;
    height: 4rem;
    border-radius: 1rem;
    border: 5px solid #0004;
    font-size: 1.5rem;
    box-shadow: 0 0 20px #0004;
    backdrop-filter: blur(20px);
    background-position-y: 20%;
    background-size: 100% 140%;
    color: rgb(230, 230, 230);
    z-index: 0;

    &:nth-child(1) {
        background-color: #0000;
        background-image: linear-gradient(180deg, #c692e9c0, #956eb0c0);
    }
    &:nth-child(2) {
        background-color: #0000;
        background-image: linear-gradient(180deg, #f7d596c0, #a68f65c0);
    }
    &:active {
        background-image: linear-gradient(180deg, #63caf099, #4791ac99);
    }
}
.btn-group {
    margin-top: 1rem;
    width: 110%;
    max-width: 95vw;
    button.game-menu {
        color: #000;
        border: 5px solid rgba(0, 0, 0, 0.404);
        background-color: #0000;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(230, 230, 230);
        
        &:nth-child(1){
            background-image: linear-gradient(180deg, #ebc4abc0, #af917fc0);
        }
        &:nth-child(2){
            background-image: linear-gradient(180deg, #deb3c0c0, #deb3c0c0);
        }
        &:active {
            background-image: linear-gradient(180deg, #63caf099, #4791ac99);
        }
    }
    

}

@media screen and (max-width: 315px) {
    button.game-menu {
        width: 90vw;
    }
    .btn-group {
        width: 90vw;
        button.game-menu {
            display: flex;
            align-items: center;
            justify-content: center !important;
            span {
                font-size: 1rem;
            }
        }
    }
}